/* Style the header */
.background-header{
    background: #2B4074;
}
.header {


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*Style the logo*/
.logo {
    width: 100px;
    height: 66px;
    padding-left: 68px;
    padding-top: 20px;
    padding-bottom: 14px;
}

/*Menu-button style*/
.menu-button {
    width: 40px;
    /*height: 40px;*/

    background: #FFFFFF;
    border-radius: 4px;

    cursor: pointer;
    margin-right: 150px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 13px 0 13px 0;

}

.burger-menu{
    width: 14px;
    height: 2px;
    background: #2B4074;
    margin: 2px 0 0 13px;
    list-style-type: none;
}
ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}