/*Promo Style*/
.background-promo {
    background: #2B4074;
}

.promo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 55px 150px 55px 150px;

}

.promo-text1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;

    color: #FFFFFF;
}

.promo-text2 {
    font-family: 'Dosis', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 112%;

    color: #FFFFFF;

    margin-top: 10px;
    margin-right: 350px;
}

.promo .buy-button {
    max-width: 210px;
    padding: 15px;
    background: #F9F6E5;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.buy-button-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;

    text-align: center;
    white-space: nowrap;
    color: #2B4074;
    text-transform: uppercase;

}
